<html>
    <head>
        <title>Aura - Login</title>
        <link rel="stylesheet" href="../static/css/default.css">
    </head>
    <body>
        <h1 class="title-text" style="text-align: center; position: relative; top: 5%; color: orange; text-shadow: 0 0 10px black;">Aura</h1>

        <!--Phone Screen Reference-->
        <!--div style="width: 100%; border: solid purple 1px;"></div-->

        <!--Login Background-->
        <div class="flex-center" style="width: 100%;">
            <div style="border: solid gray 1px; border-radius: 20px; width: 70%; height: 1000px;
            padding: 10px; position: relative; top: 70px; background-color: gray; box-shadow: 10px 10px 10px black;">
                <div class="flex-center">
                    <div>
                        <textarea type="text" class="input" style="position: relative; top: 100px; left: 25px" placeholder="Username"></textarea>
                        <textarea type="text" class="input" style="position: relative; top: 150px; left: 25px" placeholder="Password"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>