<html>
    <head>
        <title>Vote</title>
        <link rel="stylesheet" href="../static/css/default.css">
        <script src="../static/js/vote.js"></script>
        <script src="../static/js/utils.js"></script>
        <script src="../static/js/classes/user.js"></script>
    </head>
    <body onload="Init()">
        <div style="position: relative; top: 100px;">
            <!--User object-->
            <div class="option" style="position: relative; height: 150px; width: 100%;">
                <div id="peer" style="position: relative; top: 50px; left: 20px;" onclick="CallVote()">Username</div>
            </div>
        </div>
    </body>
</html>