<html>
    <head>
        <title>Vote</title>
        <link rel="stylesheet" href="../static/css/default.css">
        <script src="../static/js/vote.js"></script>
        <script src="../static/js/utils.js"></script>
        <script src="../static/js/classes/user.js"></script>
    </head>
    <body>
        <div style="width: 100%; background-color: gray; height: 151px; position: relative;">
            <div class="square-button" style="font-size: 60px; width: 150px; padding-top: 40px; padding-bottom: 40px;
             display: inline-block;" onclick="Redirector('NAV')">
                <b>&lt</b>
            </div>
            <p style="display: inline-block; font-size: 50px; position: relative; left: 20%;
                font-family: Arial, Helvetica, sans-serif;">
                <b>Vote</b>
            </p>
        </div>
        <div id="page" style="position: relative;">
            <!--User object-->
            
        </div>
    </body>
</html>